@model IEnumerable<WEB_APP_PROJECT.Models.FoodCourt>;



@{
    ViewData["Title"] = "Start Pages";
}
<h1>@ViewData["Title"]</h1>

<p>It Works I Yed Mae.</p>
<p>@User.Identity.Name</p>
<p>Selected shop: @Model</p>

